

GEEKFORGEEKS {
margin-left: 70px;
font-weight: bold ;
float: left;
clear: left;
width: 100px;
text-align: left;
margin-right: 10px;
font-family:Expletus Sans, cursive, Gloria Hallelujah, cursive;
font-size:14px;
}

div {
box-sizing: border-box;
width: 100%;
border: 100px solid black;
float: left;
align-content: center;
align-items: center;
}

form {
margin: 20px;
width: 550px;
background: #e0ebeb;
}

input {
width: 400px;
}

.no_width {
width: 50px;
}

h1, h2 {
font-family:Expletus Sans, cursive;
}

.otsikot {
font-family:Gloria Hallelujah, cursive;
}

.nappi {
	width: 405px;
	height: 30px;
	margin: 10px 0 20px 0;
}
